*{
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    font-family: 'Audiowide', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
}


.email{
    background-color: brown;
    height: 20px;
    width: 100%;
    
}
.email a{
    float: right;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
/* body{
    background: #f2f2f2;
} */
nav{
    background: gray;
    
}
nav::after{
    content: '';
    clear: both;
    display: both;
    display: table;
}
.logo{
    float: left;
    font-size: 35px;
    font-family: "lobster", cursive;
    line-height: 30px;
    padding-left: 10px;
    color: cyan;
    padding-top: 10px;

}
nav ul{
    float: right;
    list-style: none;
    position: relative;
    margin-right: 40px;
    
}

nav ul li{
    float: left;
    display: inline-block;
    background: gray;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    /* margin-right: 20px; */
    
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
    
}
nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;

}
nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul{
    border-top: none;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

a.active, a:hover{
    background-color: #2ecc71;
    transition: .5s;
}
/* .fa-plus{
    margin-left: 40px;
    font-size: 15px;
} */


  /*  */

/* .search{
    padding: 7px 13px;
    margin-right: 1px;
} */
/* background image */
/* html, body{
    height: 100%;
}
.images{
    margin-top: 0%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */


/* footer */
.container2{
    max-width: 1170px;
    margin: auto;
   
}
.row2{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: gray;
    padding: 20px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
}
/* body */
body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
    
    /* background-image: url("/assets/images/img2.jpg");
    background-repeat: no-repeat;
    background-size: 1550px;
    background-position: center; */
    font-family: sans-serif;
}
span{
    font-family: 'Roboto', sans-serif;
    color: cyan;
    font-weight: bolder;
}
/* .home{
    text-align: center;
    margin-top: 100px;
} */
.headdd{
    text-align: center;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.join{
    color: #333;
    margin: 15px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    background-image: linear-gradient(to right, #df4881, #c430d7);
    font-size: 20px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
    /* margin-left: 50%; */
    margin-left: 500px;
    margin-top: 80px
    

}
.join:hover{
    border-top-right-radius:30px ;
    text-decoration-style: none;
}



